{% extends 'base.html' %}

  {% block header %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="d-flex p-2 col-8 mx-auto">
    <a class="navbar-brand" href="#">MyAdmin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active ms-2" aria-current="page" href="#">Отделы</a>
        <a class="nav-link ms-2" href="#">Сотрудники</a>
        <a class="nav-link ms-2" href="#">Статистика</a>
        <a type="button" class="btn btn-danger ms-5">Выход</a>
      </div>
    </div>
  </div>
</nav>
  {% endblock %}


  {% block content %}
<div class="d-flex p-2 col-8 mx-auto">
  <p class="fs-3">
    Это админ-панель
  </p>
</div>
  {% endblock %}