{% extends 'base.html' %}

{% block content %}
    <style>
        .container-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .text-block {
            margin-bottom: 20px; /* Расстояние между текстом и формой */
        }
    </style>

<div class="container-wrapper">
    <div class="text-block">
        <h1>Добро пожаловать!</h1>
    </div>
    {% if error_message %}
        <div class="text-block p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
            {{ error_message }}
        </div>
    {% endif %}
    <form action="login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Логин</label>
            <input class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid col-12 mx-auto">
            <button class="btn btn-success" type="submit">Войти</button>
        </div>
    </form>
</div>
{% endblock %}